## Environment ##
NODE_ENV=example

## Server ##
PORT=3001
HOST=localhost

## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

## Authentication ##
COOKIE_DOMAIN=localhost
COOKIE_PATH=/
SECURE_COOKIE=false
JWT_SECRET=xxxxxxxxxxxxxx
COOKIE_SECRET=xxxxxxxxxxxxxx
# expires in 3 days
COOKIE_EXP=259200000
SALT_ROUNDS=0

## Database ##
DB_DIALECT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

## Supabase ##
SB_PROJECT_URL=
SB_API_KEY=
SB_UPLOADS_BUCKET=